:root {
    --er-color-bg: #F3EFE8;
    --er-color-main: #FFD600;
    --er-color-white: white;
    --er-color-font: #0063BC;
    --er-font-inter: 'Inter', sans-serif;
    --er-font-open-sans: 'Open Sans', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1218px;
    }
}